div.track_display {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;

  margin: 20px;
}

div.track_container {
  display: flex;
  flex-direction: column;

  height: 450px;
  width: 200px;
  margin-left: 40px;
  margin-right: 40px;
}

div.track_container > a > p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.data_display {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
}

fieldset {
  border-style: none;
}

.popover-wrapper {
  position: relative;
  display: inline-block;
}

.explanation-popover {
  position: absolute;
  z-index: 100;
  top: 0;
  left: calc(100% + 5px);

  opacity: 0;

  transition: 100ms;

  box-shadow: none;
  border: 1px solid gray;
  border-radius: 5px;
  width: 200px;
  padding: 10px;

  text-align: start;
}

.popover-button {
  margin-left: 5px;
  padding: 0.1em;

  height: 0.9em;

  content: url("question icon.svg")
}

.popover-button:hover + .explanation-popover {
  left: calc(100% + 10px);

  opacity: 1;

  transition: 100ms;

  box-shadow: darkgray -2px 2px 2px;
}

@media (prefers-color-scheme: light) {
  .explanation-popover {
    background-color: white;
  }
}

@media (prefers-color-scheme: dark) {
  .explanation-popover {
    background-color: rgb(40, 40, 40);
  }

  .popover-button {
    filter: brightness(0) invert(1);
  }
}